<!-- app.component.html -->
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <!-- Side Navbar -->
    <nav class="col-lg-2 col-md-3 col-sm-12 bg-white vh-100 d-flex flex-column" id="sidenav">
      <app-sidenavbar></app-sidenavbar>
    </nav>

    <!-- Center Body -->
    <main class="col-lg-6 col-md-9 col-sm-12 bg-white vh-100 d-flex justify-content-center align-items-center" id="centerbar">
      <app-centerbar></app-centerbar>
    </main>

    <!-- Sidebar -->
    <aside class="col-lg-4 col-md-12 col-sm-12 bg-white vh-100" id="sidebar">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
</div>
